nav > li {
  list-style: none;
  display: inline-block;
  border-right: 2px solid black;
  padding: 0 5px 0 5px;
}

nav {
  border: 2px solid black;
  background-color: #FFB4B0;
  display: flex;
  width: 96%;
  margin-bottom: 10px;
  padding: 10px
}

#wrapper {
  display: flex;
}

.column-left {
  font-family: Arial, serif;
  flex-basis: 40px 100%;
  float: left;
  width: 120px;
}

.ugly-blue {
  background-color:  #4DD7FA;
}

.pad-top {
  padding-top: 15px;
}

.pad-bottom {
  padding-bottom: 20px;
}

.check-wrapper {
  overflow: hidden;
  width: 120px;
}

ul li {
  font-size: 14px;
  list-style: none;
}

.float-left {
  width: 60px;
  float: left;
  margin-left: -40px;
}

.float-right {
  width: 80px;
  float: right;
  margin-left: -30px;
}

h4 {
  font-weight: 200;
  margin: 0 0 5px;
}

.menu  {
  width: 150px;
  font-size: 16px;
}

.box-wrapper {
  width: 80px;
}

.button {
  width: 100px;
  height: 50px;
  font-size: 18px;
  margin: 10px 35px 0 35px;
}

.table-box {
  font-family: Arial, serif;
  border: 1px solid black;
  background-color: #FEFAC0;
  width: 69%;
  padding-left: 25px;
}

table {
  padding-bottom: 10px;
}

h3 {
  color: #785616;
  font-size: 23px;
  font-weight: 200;
  padding: auto;
}

div.table-box > table {
  height: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

td {
  font-size: 14px;
  font-weight: 100;
  padding: 0 7px 0 0;
  display: inline-block;
} 